.navbar {
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}
.card1 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
.card2 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
.card3 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
 .card4 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
.card5 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
.card6 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
.card7 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
.card8 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
.card9 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
.card10 {
border-radius: 15px;
box-shadow: 10px 10px 5px grey;
       }
h1 {
text-align: right;
       }
h2 {
 text-align: right;
       }
#pie {
       background-color: #0d6efd;
       color: white;
       border-radius: 15px;
       box-shadow: 10px 10px 5px grey
}

#pie2 {
       background-color: #0d6efd;
       color: white;
       border-radius: 15px;
       box-shadow: 10px 10px 5px grey
}