
@use "../abstracts/mixins"as*;


.container--card{
@include card-shadow;}


.card-img-top{
       cursor: pointer;
}

.container--row__tarjetas {
    @include row;
}

.badge{
    font-size: 10px;
    
}
.badge-box{
    text-align: left;
}

.card--text{
    font-size: 30px;
}